#lost-create {
  width: 1080px;
  justify-content: center;
  margin: auto;
}

.mb-2 {
  justify-content: center;
  align-content: space-between;
  margin: auto;
}

.text-field {
  width: 720px;
  height: 120px;
  justify-content: center;
  margin: auto;
}

.mb-3 {
  width: 720px;
  justify-content: center;
  margin: auto;
}

.sub-btn {
  display: flex;
  justify-content: right;
  margin: auto;
}
