#lost-create {
  width: 50%;
  margin: 0 auto;
}

.form-label {
  display: inline-block;
}

.f_1 {
  flex: 1;
}
.f_2 {
  flex: 2;
}
.f_4 {
  flex: 4;
}
.f_6 {
  flex: 6;
}
.f_8 {
  flex: 8;
}
.ai_cen {
  justify-content: center;
}

.ml-10 {
  margin-left: 10px;
}
