@font-face {
  font-family: 'Kotra';
  src: url("./../../fonts/KOTRA\ HOPE.ttf");
  font-weight: 50px;
}


#showpet-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  font-family: 'Kotra';
  font-size: 25px;
}

#showpet-create-lottie {
  display: flex;
  align-items: center;
}

