#card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list-group {
}

.list-group-item {
  height: 450px;
  width: 31%;
  box-shadow: 0 5px 6px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 9%);
  border-radius: 20px !important;
  margin: 10px;
}
.img-wrap {
  height: 70%;
  border-radius: 20px;
}
.card-img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-wrap {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
