
.act {
    box-shadow: 0px 0px 5px 6px #FFAE6D;
}

#detailBtn {
    width: 70px;
    font-size: 18px;
    background-color: #FCD8D4;
    border: none;
    border-radius: 10px;
}

#header {
    background-color: #FFAE6D;
}

#list-body {
    background-color: #FDF6F0;
}

#article-lottie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#article-fix {
    display: grid;
    /* display: flex;
    justify-content: space-around; */
}