.animalImg {
    width: 250px;
    border-radius: 10%;
}

.animalImg1 {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.animalImg2 {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

#box {
    width: 350px;
    height: 400px;
    background-color: #F8E2CF;
    border-radius: 10%;
}

#btn {
    background-color: #FCD8D4;
    color: black;
    border-color: white;
    border-width: 3px;
}







