#join {
    display: flex;
    justify-content: center;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  
    border: 1px solid;
    border-color: black;
    border-radius: 12px;
  
    margin: 148px 300px 48px 300px;
    padding: 72px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .header__intro {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .header__img {
    width: 100px;
    height: 100px;
  }
  
  .header__name {
    font-size: 64px;
    margin-left: 40px;
  }
  
  .header__title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .line {
    width: 400px;
    margin: auto;
    height: 1px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .header__mention {
    font-size: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  #joinBtn {
    width: 300px;
    height: 70px;
    margin-left: 50px;
    cursor: pointer;
  }